

.car-indicator{
    font-weight: bold;
    font-size: 30px;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  
  .input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    caret-color: #f7f7f8;
    color: black;
    padding: 7px 10px;
    border: 2px solid rgb(236, 236, 236);
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    transition: all .2s ease;

  }
  .search-section{
    width: 30%;
  }
  
  .noCars{
    font-size: 30px;
    color: rgb(145, 143, 143);
  }
  .content-section{
    width: 100%;
    height: 70%;
    background-color: #fffe;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  .content-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }
  
  .input:focus {
    border: 2px solid #f08700;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .search__btn {
    border: none;
    cursor: pointer;
    background-color: #f08700;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: #f08700
  }


  .card {
    box-sizing: border-box;
    width: 150px;
    height: 70px;
    background: #00396b;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;  
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: white;
    display : flex;
    flex-direction : column;
  }
  
  .card:hover {
    border: 1px solid white;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


  .button-add{
    background-color: #f08700 !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    height: 40px !important;
    width: 90px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bolder !important;
    font-size: 17px !important;
    transition: all 0.5s !important;
  }

  .button-add:hover{
    scale: 1.1 !important;
    transition: all 0.3s !important;
  }

  .path{
    font-size: 40px;
    color: #00396b;
    font-weight: 600;
  }

  .card-car {
    position: relative;
    width: 450px;
    aspect-ratio: 16/9;
    background-color: #f4f7ff;
    border-radius: 10px;

    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  /* .card-car svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } */
  
  .card-car__image {
    width: 100%;
    height: 100%;
  }
  .card-car__image img {
    width: 100%;
    height: 100%;
  }
  
  .card-car:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card-car__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f7ff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .card-car:hover .card-car__content {
    transform: rotateX(0deg);
  }
  
  .card-car__title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .card-car__title p{
    font-size: 22px;
    color: #333;
    font-weight: 700;
  }

  .car-title{
    color: #00396b !important;
  }
  
  .card-car__description {
    margin: 10px 0 10px;
    font-size: 18px;
    color: #777;
    line-height: 1.4;
    width: 100%;
  }
  

  
.secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  }
  
  .card-butons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .car-container{
    width: 100%;
    padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .noCar-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 70%;
  }

  .icon1{
    width: 1.5rem;
    height: 1.5rem;
    color: #8e9bb9;
    cursor: pointer;
  }
  .icon2{
    width: 1.5rem;
    height: 1.5rem;
    color: #F5A707;
    cursor: pointer;
  }
  .available{
    position: absolute;
    right: 0;
    margin-right: 8px;
    margin-top: 8px;
    color: white;
    height: 2rem;
    font-size: 20px;
    font-weight: 400; 
    background-color: rgb(116, 177, 25);
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  .unavailable{
    position: absolute;
    right: 0;
    margin-right: 8px;
    margin-top: 8px;
    color: white;
    height: 2rem;
    font-size: 20px;
    font-weight: 400; 
    background-color: #f08700;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }


  .formContainer{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    flex-direction: column;
  }

  .formContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .formContainerRight {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;

    
  }
  .formContainerLeft {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
  }
  .searchGroup1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;

  }