.projects{
    height:100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    }
    
    
    .projectsContainer{
        width: 100%;
        height: 80%;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem; 

    }
    
    .container-search2{
        display: flex;
        justify-content: center;
        align-items:center;
        height: 35px;
        width:100%;
    }
    
    .search-section2{
        width: 40%;
        
      }
    
      .search-group{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        width: 100%;
    
      }
    
      .consultantTitle{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        width: 100%;
        flex-direction: column;
        gap:0.4rem;
        color: #00396b;
      }
    
      .consultantTitle p{
        font-size: 15px;
        font-weight: 500;
      }

      .button-right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 50px;
      }
      .OneProject{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        background-color: #fffe;
        gap: 1rem;
        padding: 1rem;
      }
      .projectContent{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }
      .projectTitle{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
      }

      .projectTitle h2{
        font-size: 26px;
      }
      .ProjectLayout{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
      }