.side-navigation-panel-select-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    border-right-width: 2px;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    border-color: #f08700 !important;
    color:  #00396b !important;
    width: 100%  !important;
}

.side-navigation-panel-select-option {
    color:  #00396b !important;
    width: 100% !important;
}


.side-navigation-panel :hover {
    border-color: #f08700 !important;

}

.image-pos{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px ;
    width: 100%;

}
.sideNav-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;

}
.SideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #f0f0f0;
    left: 0;
}
.bottom-sideNav{

    width: 100%; 

}
 
.side-nav{

    width: 15%;
    height: 100%;
    min-width: 15%;
}

.sidenav-options{
    width: 100%;
    height: 70%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}
.side-navigation-panel{
    width: 100% !important;
   
}