*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'Open Sans', sans-serif;
    background-color: #00396b;
    display: flex;
    justify-content: space-between;
    height: 86px;
    padding: 0 44px;
    width: 100%;
}


.logo{
    width: 120px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    padding-top: 20px;
}
.navbar-brand{
  height: 20px;
  width: 10px;
}

.navbar-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    padding-top: 18px;
}

.nav-item{

    cursor: pointer;

}
.nav-link{
    color: #ffffed;
    font-size: 20px;
}

.nav-link:hover{
    color:#f08700;
}

a {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
}

 